<div class="container">
	<div class="row">
		<div class="well">Select dashboard</div>
	</div>
</div>
<div class="container-fluid">
	<div class="col-lg-3">
		<div class="well" ng-controller="levelController">
			<select name="selectedOrgUnitId" ng-model="selectedOrgUnitId" class="form-control">
				<option style="display:none" value="">Select a Level</option>
				<option ng:repeat="level in levels" value="{{level.id}}">{{level.name}}</option>
			</select>
		</div>
		<div class="well" ng-controller="orgunitsController">
			<select name="selectedOrgUnitId" ng-model="selectedOrgUnitId" class="form-control">
				<option style="display:none" value="">Select a Org Unit</option>
				<option ng:repeat="orgUnit in orgUnits" value="{{orgUnit.id}}">{{orgUnit.name}}</option>
			</select>
		</div>
	</div>
	<div class="col-lg-9">
		<div class="table-responsive" id="dashlet_1">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Facility Code</th>
						<th>Registered Name</th>
						<th>Type</th>
						<th>Ownership</th>
						<th>Services Offered</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="facility in facilities">
						<td>{{facility.id}}</td>
						<td>{{facility.name}}</td>
						<td></td>
						<td ng-repeat="orgGrp in facility.organisationUnitGroups | filter: ownershipFilter">{{orgGrp.displayName}}</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>